#stickyBar{
    top:0;
    position:sticky;
}
#nb-header{
    padding-left:12px;
}
.changeColor:hover{
    background-color: #d1761d;
}
.item-container{
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 0px;
    background-color: #d1761d;
    color: #222222;
    border-radius: 2px;
}
.item-header{
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    border-bottom: solid 1px #d1761d;
}
.item-footer{
	font-weight: bold;
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    border-top: solid 1px #d1761d;
}
.item-img-field{
    background-color: white;
}

.imageselector:hover{
    cursor: pointer;
}

a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}